
@model List<Person>

    <h5>This person is deleted from the system!</h5>


         <partial name="ConstantHeaderPartialView"/>
            
    
    
        @foreach (Person person in Model)
        {
            
                <partial name="_PersonPartialViewTwo" model="person"/>
            
        }
