

<div class= "row">
                    <div class= "col-sm">@Model.Id</div>
                    <div class= "col-sm">@Model.FirstName  </div>
                    <div class= "col-sm">@Model.LastName  </div>
                    <div class= "col-sm">@Model.CityName  </div>
                    <div class= "col-sm "></div>
                    <div class= "col-sm "></div> 
</div>