@model CreateCityViewModel;

<h1>Add new city</h1>

    

    <label asp-for="CityName"></label>
    <input asp-for="CityName"  />
    <span asp-validation-for="CityName"></span>

    <label asp-for="CountryName"></label>
    
    <select asp-items="@(new SelectList(Model.CountrysList,"Id",  "CountryName"))" asp-for="CountryId">
       
    </select>
    <span asp-validation-for="CountryId"></span>




        


<datalist id="countrysList">
    @foreach (Country country in Model.CountrysList)
    {
        <option value="@country.CountryName">@country.CountryName</option>
        
    }
</datalist>