    <div class= "row">
            
                <div class= "col-sm font-weight-bold">Id</div>
                <div class= "col-sm font-weight-bold">First name  </div>
            
                <div class= "col-sm font-weight-bold">Last name  </div>
                <div class= "col-sm font-weight-bold">City name  </div>
           
            
                <div class= "col-sm font-weight-bold">Country </div>
                <div class= "col-sm font-weight-bold">Info  </div>
            
                <div class= "col-sm font-weight-bold">Edit  </div>
                <div class= "col-sm font-weight-bold">Delete  </div>
            
    </div>