
@model List<Person>
<div class="container">
    
        <div class= "row">
            <div class= "col-sm">
                <a class="btn btn-outline-dark" asp-area="" asp-controller="People" asp-action="Create"  >Create person</a>
            
            </div>
       
            <div class= "col-sm">  </div>
        
            <div class= "col-sm">
                <form asp-controller="People" asp-action="Search" method="post">
                    <input type="text"  value="" name="textin" onfocus="this.value=''"/>
                    <button type="submit" class="btn btn-outline-secondary">Search </button>
                </form>
            </div>
        
        </div>

        <form asp-controller="Language" asp-action="createIndex" method="post">
                <div class= "row">
                   
                    <div class= "col-sm">
                        <button type="submit"  class="btn btn-outline-black" >Add language </button>
                    </div>                 

                    <div class= "col-sm">
                        
                       <label>By person id: </label>
                    </div>     

                            <div class= "col-sm">
                                <input type="number"   name="textin" min= "1" required />
                       </div>
                    <div class= "col-sm"></div>
                    <div class= "col-sm"></div>

                </div>
        </form>
        
                    <button onclick="getPeoples('@Url.Action("GetPeoples", "AJAXPeople")')" class="btn btn-outline-secondary">Get People</button>
            
                    <input name="Info" type="number"  id="inputId" onfocus="this.value=''" min="1"/>
                    <button onclick="infoById('@Url.Action("InfoById", "AJAXPeople")','inputId')"  class="btn btn-outline-info">Infomation by id</button>
                
                    <input name="deleteId" type="number" id="inputDeleteId" onfocus="this.value=''" min="1"/>
                    <button onclick="deleteById('@Url.Action("Delete", "AJAXPeople")','inputDeleteId')" class= "btn btn-outline-danger">Delete by id</button>
              
    <div id="PeoplesList"></div>
</div>