
@model CreateCityViewModel;
@{
    ViewData["Title"] = "City - Add new city";
}
<h1>Add new city</h1>

<form asp-action="Create" method="post">
    

    <label asp-for="CityName"></label>
    <input asp-for="CityName"  />
    <span asp-validation-for="CityName"></span>

    <label asp-for="CountryName"></label>
    
    <select asp-items="@(new SelectList(Model.CountrysList,"Id",  "CountryName"))" asp-for="CountryId">
       
    </select>
    <span asp-validation-for="CountryId"></span>




        

    <button type="submit" class="btn btn-outline-dark">Create city</button>

    
</form>

<datalist id="countrysList">
    @foreach (Country country in Model.CountrysList)
    {
        <option value="@country.CountryName">@country.CountryName</option>
        
    }
</datalist>
    

