@model List<Language>;
@{
    ViewData["Title"] = "Languge - Add new language";
}
<h1>Add new language</h1>

<form asp-action="Create" method="post">
    

    <label ></label>
    <input type="text" name="LanguageName" id ="LanguageName" onfocus="this.value=''" />

    <button type="submit" class="btn btn-outline-dark">Add language</button>

    
</form>
