

@model List<Person>
@{
    ViewData["Title"] = "People - Index";
}


<h1>People</h1>

<div class="container">
    <div class= "row">
        <div class= "col-sm">
            <a class="btn btn-outline-dark" asp-area="" asp-controller="People" asp-action="Create"  >Create person</a>
            
        </div>
       
        <div class= "col-sm"></div>
        
        <div class= "col-sm">
            <form  asp-action="Search" method="post">
                <input type="text"   name="textin" min= "0" required autocomplete="off" />
                <button type="submit"  class="btn btn-outline-secondary" >Search </button>
            </form>
        </div>
       
        
    </div>

    <a class="btn btn-outline-dark" asp-area="" asp-controller="Language" asp-action="Create"  >Add language</a>
    
        @*<form asp-controller="Language" asp-action="createIndex" method="post">
                <div class= "row">
                   
                    <div class= "col-sm">
                        <button type="submit"  class="btn btn-outline-dark"  >Add language </button>
                    </div>                 

                    <div class= "col-sm">
                        
                            
                                <label>By person id: </label>
                       </div>     

                            <div class= "col-sm">
                                <input type="number"   name="personId" min= "1" id="PersonId" value="PersonId" required />
                                
                           </div>
                           
                             <form asp-controller="Language" asp-action="GetIndex" method="get" id="languages">
                            <div>
                                <input type="hidden" name="languages" id="languages" value = "languages"/>
                            </div>
                            </form>
                            

                    
                    <div class= "col-sm"></div>
                    <div class= "col-sm"></div>

                </div>
        </form>*@
    

<table>
    
    <thead>
        
         <partial name="ConstantHeaderPartialView"/>
            
        
    </thead>
    <tbody>
        @foreach (Person person in Model)
        {
            
                <partial name="_PersonPartialView" model="person"/>
            
        }

    </tbody>
       
</table>
</div>

