@using MVCDataAssignment.Models;

@model List<Person>
@{
    ViewData["Title"] = "Search - Find People";
}

<h1>New Search</h1>
<div class= "container">
<table>
    <thead>
        <partial name="ConstantHeaderPartialView"/>
    </thead>
    <tbody>
        @foreach (Person person in Model)
        {
            <partial name="_PersonPartialView" model="person"/>
        }
        </tbody>
    </table>
    </div>
     